<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /allkerala/region/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /allkerala/region/index.html [L]
</IfModule>
